<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet"
	type = "text/css"
	href = "{{ url_for('static', filename='style.css')}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Web icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_package_v0/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_package_v0/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_package_v0/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon_package_v0/site.webmanifest">
	<link rel="mask-icon" href="/static/favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/favicon_package_v0/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/static/favicon_package_v0/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<title>Spotify Party</title>
</head>

<body>	
	<!-- header -->
	<!-- <div class="header-branding"> -->
		<header>
		</header>



		<!-- middle -->
		<div class="middle">
			<div class="middle-container">
				<div class="middle-items">
					<h1 class="middle-text">Spotify Party</h1>

					<div class="login-button">
						<p><a id='login-link' href="{{ url_for('login') }}">Login</a></p>
						<a href="{{ url_for('login') }}"><img src="/static/login-button.png"></a>
					</div> 
				</div>
			</div>
		</div>

<script src="/static/app.js"></script>
</body>
</html>