<!DOCTYPE html>
<html>
<head>
    <style>

        .row {
          display: flex;
        }
        
        /* Create two equal columns that sits next to each other */
        .column {
          flex: 50%;
          padding: 100px;
          text-align: center;
        }
        
        
        </style>
	<title>Success</title>
	<link rel = "stylesheet" href="/static/success.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<!-- Web icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_package_v0/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_package_v0/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_package_v0/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon_package_v0/site.webmanifest">
	<link rel="mask-icon" href="/static/favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/favicon_package_v0/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/static/favicon_package_v0/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>	
		<header>
        </header>
        <div class="row">
            <div class="column">
          <iframe src="https://open.spotify.com/embed/playlist/57FzJHYjJigCRarKX7r4mf" width="600" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="column">
                <ul>
                    {% for member in party_members %}
                    <h1>{{ member.first_name }}</h1>
                    {% endfor %}
                </ul>
            </div>
          </div>

	<script src="/static/app.js"></script>
</body>
</html>

